<div class="wrap">
    <div class="container mt-3">
        <div class="row">
            <% @dogs.each do |dog| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dog-card">
                    <div class="dog-card-image" style="background-image: url('<%= dog.photo %>')"></div>
                    <div class="dog-card-content">
                        <div class="dog-card-title">
                            <h4><%= dog.name %></h4>
                        </div>
                        <p>
                            <%= dog.skill %>
                        </p>
                        <div class="flex">
                            <p><i class="fas fa-paw"></i>
                                <%= dog.breed %> <i class="fas fa-dollar-sign"></i>
                                <%= dog.fee %>
                            </p>
                        </div>
                    </div>
                    <div class="dog-card-actions">
                        <%= link_to 'Details', dog_path(dog) %>
                        <%= link_to 'Edit', dog_path(dog) %>
                        <%= link_to 'Remove', dog_path(dog) %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
