<div class="container mt-3">

  <div class="row">
    <div class="col-12">
      <h1>All our Dogs</h1>
    </div>
  </div>

  <div class="row">
    <% @dogs.each do |dog| %>
      <div class="col-xs-4">
        <div class="dog-card">


          <div class="dog-card-image" style="background-image: url('<%= dog.photo %>')"></div>

          <div class="dog-card-content">
            <div class="dog-card-title">
              <h4><%= dog.breed %></h4>
            </div>
            <p><%= dog.skill %></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-1">pets</i><span><%= dog.breed %></span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> <%= dog.fee %>
              </div>
            </div>
          </div>
          <div class="dog-card-actions">
            <%= link_to 'More info', dog_path(dog) %>
            <% if dog.user == current_user %>
              <%= link_to 'Edit', edit_dog_path(dog), :class => "ml-3 text-warning" %>
              <!--<a href="#" class="ml-3 text-danger">Remove</a>-->
              <%= link_to 'Remove', dog_path(dog),
                         method: :delete,
                         data: { confirm: 'Are you sure?' },
                         :class => "ml-3 text-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
