<h1>Dogs#show</h1>
<p>Find me in app/views/dogs/show.html.erb</p>

<table>
  <tr>
    <td><p>Id: <%= @dog.id %> </p> </td>
    <td><p>breed: <%= @dog.breed %> </p></td>
    <td><p>skill: <%= @dog.skill %> </p></td>
    <td><p>age: <%= @dog.age %> </p> </td>
    <td><p>fee: <%= @dog.fee %> </p> </td>
  </tr>
</table>
