
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(50,50,50,0.2) 0%, rgba(0,0,0,0.2) 50%), url(<%= cl_image_path("kkurykkdkiltps7kufxp") %>);">
</div>
<div class="container" id="show">
    <div class="row">
      <div class="col-xs-12 col-md-3">

        <%= cl_image_tag(@dog.photo, width: 200, crop: :fill) %>
      </div>
      <div class="col-xs-12 col-md-3">
          <div class="details">
            <h4>Details</h4>
            <p><strong>Breed:</strong> <%= @dog.breed %></p>
            <p><strong>Skill:</strong> <%= @dog.skill %></p>
            <p><strong>Age:</strong> <%= @dog.age %></p>
            <p><strong>Fee:</strong> $ <%= @dog.fee %></p>
          </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= render 'bookings/form', booking: [@dog, @booking] %>
      </div>
    </div>
</div>
