<%= form_for [@dog, @booking] do |f| %>
  <div class="form-group">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date %>
  </div>
  <div>
  <%= f.label :end_date %><br>
  <%= f.text_field :end_date %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<%= simple_form_for [@dog, @booking] do |f| %>
  <% if @booking.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- [...] all the fields -->
<% end %>
