<div class="container mt-3">
  <h1>Past bookings</h1><br>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-xs-4">
        <div class="booking-card">
          <div class="booking-card-image" style="background-image: url('https://images.unsplash.com/photo-1535930891776-0c2dfb7fda1a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ac4818726f5f336bb0515dd0e1dc34f1&auto=format&fit=crop&w=967&q=80')"></div>
          <div class="booking-card-content">
            <div class="booking-card-title">
              <h4><%= booking.dog.name %></h4>
            </div>
            <p>ID: <%= booking.id %></p>
            <p>Renter: <%= booking.user.email %></p>
            <p>Owner: <%= booking.dog.user.email %></p>
            <p>Start_date: <%= booking.start_date %></p>
            <p>End_date: <%= booking.end_date %></p>
            <p>Total price: $<%= booking.total_price %> </p>
            <%= link_to "Delete", booking_path(booking),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
