<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>

<% @bookings.each do |booking| %>
  <div>
    <p>ID: <%= booking.id %></p>
    <p>Renter: <%= booking.user.email %></p>
    <p>Owner: <%= booking.dog.user.email %></p>
    <p>Start_date: <%= booking.start_date %></p>
    <p>End_date: <%= booking.end_date %></p>
    <p>Total price: $<%= booking.total_price %> </p>
    <%= link_to "Delete", booking_path(booking),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

  </div>
<% end %>
