<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<%= form_for [@dog, @booking] do |f| %>
  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.text_field :start_date %>
  </div>
  <div>
  <%= f.label :end_date %>
  <%= f.text_field :end_date %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
