<h1>Show Page</h1>

<table>
  <tr>
    <td><p>Id: <%= @booking.id %> </p> </td>
    <td><p>start_date: <%= @booking.start_date %> </p></td>
    <td><p>end_date: <%= @booking.end_date %> </p></td>
    <td><p>total_price: <%= @booking.total_price %> </p> </td>
    <td><p>Dog: <%= @booking.dog.breed %> </p> </td>
  </tr>
</table>
