<div class="banner" id="confirmation" style="background-image: linear-gradient(-225deg, rgba(50,50,50,0.2) 0%, rgba(0,0,0,0.2) 50%), url(<%= cl_image_path("wvhevotgqd35muhl449c") %>);">
  <div class="banner-content">
    <h1>Booking Successful!</h1>
  </div>
</div>
<div class="col-sm-12">
    <div class="card-booking">
      <div class="col-sm-12"><h1>Your booking</h1>
        <div class="row">
          <div class="col-sm-6"><h3>Ref: <%= @booking.bookin_ref %></h3></div>
          <div class="col-sm-6"><h3>Your booking is: confirmed</h3></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><h3>Start Date: <%= @booking.start_date %></h3></div>
          <div class="col-sm-4"><h3>End Date: <%= @booking.start_date %></h3></div>
          <div class="col-sm-4"><h3>Amount: <%= @booking.total_price %></h3></div>
        </div>
      </div>
    </div>
</div>


<h1>Your booking</h1>
<div class="card-booking">

    <div class="row-ref">
      <h3>Ref: <%= @booking.bookin_ref %></h3>
      <p>Your booking is: confirmed</p>
    </div>
    <div class="row-period">
      <p><strong>Start Date: <%= @booking.start_date %></p></strong>
      <p><strong>End Date: <%= @booking.start_date %></p></strong>
      <div class="col-sm-4"><h3>Amount: <%= @booking.total_price %></h3></div>
    </div>
    <div class="row-status">

      <div class="col-sm-4"><h3>Amount: <%= @booking.total_price %></h3></div>
      <p class="status pending">Your booking is: confirmed</p>
      <p class="price">Amount: <%= @booking.total_price %></p>
    </div>

</div>


<div class="message">
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="message-name">
    <h3>Gab Dehan</h3>
    <p>10/07/17</p>
  </div>
  <div class="message-body">
    <p><strong>I am not sure yet!</strong></p>
    <p>
      I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?
    </p>
  </div>
  <div class="message-status">
    <p class="status pending">Pending</p>
    <p class="price">€345</p>
  </div>
</div>

